In [111]:
import pandas as pd
import numpy as np
poll=pd.io.parsers.read_csv("NatRep_Online_Upload.csv")

In [113]:
poll.groupby('EUREF_Int')

In [172]:
poll['EUREF_Int']

0       1
1       2
2       2
3       1
4       1
5       2
6       2
7       1
8       1
9       1
10      1
11      1
12      1
13      2
14      1
15      2
16      1
17      2
18      2
19      1
20      2
21      2
22      3
23      3
24      2
25      2
26      2
27      1
28      2
29      1
       ..
1943    3
1944    1
1945    2
1946    1
1947    2
1948    3
1949    1
1950    2
1951    3
1952    3
1953    3
1954    1
1955    2
1956    2
1957    2
1958    1
1959    1
1960    1
1961    1
1962    4
1963    1
1964    2
1965    1
1966    3
1967    1
1968    1
1969    3
1970    2
1971    2
1972    3
Name: EUREF_Int, dtype: int64

In [115]:
from collections import Counter

In [116]:
Vote_split=Counter(poll['EUREF_Int'])
Gender_split=Counter(poll['gender'])
print(Vote_split)
print(Gender_split)

Counter({2: 786, 1: 773, 3: 320, 4: 94})
Counter({2: 1023, 1: 950})

In [118]:
len(poll)

1973

In [119]:
poll.shape

(1973, 37)

In [120]:
poll_survey=poll[['EUREF_Int','Age','gender','socialgrade_single','house_tenure','work_stat']]

In [121]:
poll_survey.head()

   EUREF_Int  Age  gender  socialgrade_single  house_tenure work_stat
0          1   44       1                   1             1         5
1          2   60       2                   1             1         2
2          2   70       2                   2             1         6
3          1   79       1                   2             1         6
4          1   46       2                   1             4         1

In [173]:
 #list of all people who are undecided
poll_survey[poll_survey.EUREF_Int==3]

      EUREF_Int  Age  gender  socialgrade_single  house_tenure work_stat
22            3   37       2                   1             2         1
23            3   36       2                   1             5         1
30            3   46       2                   2             6         4
50            3   29       2                   1             4         1
59            3   57       2                   2             2
60            3   29       1                   2             7         4
64            3   75       1                   1             1         6
68            3   40       1                   2             4         1
82            3   44       1                   1             2         1
101           3   45       2                   2             2         4
109           3   66       2                   1             1         6
140           3   73       2                   1             1         6
143           3   72       1                   2             1         6
149           3   70       2                   1             1         2
151           3   53       2                   2             1         4
152           3   37       2                   1             7         1
153           3   35       2                   1             4         2
156           3   51       2                   2             6         4
173           3   47       2                   2             4         4
177           3   38       1                   1             2         1
183           3   63       1                   1             1         1
184           3   42       2                   1             2         2
187           3   80       1                   1             6         6
192           3   44       1                   2             2         1
202           3   85       2                   1             1         6
203           3   73       2                   1             1         6
205           3   47       2                   2             6         3
207           3   71       2                   2             1         6
208           3   63       1                   2             4         6
212           3   73       2                   2             5         6
...         ...  ...     ...                 ...           ...       ...
1814          3   71       2                   1             1         6
1818          3   32       2                   1             2         1
1826          3   33       2                   1             2         2
1827          3   50       2                   2             2         2
1843          3   50       2                   1             1         4
1849          3   52       2                   1             4         1
1850          3   24       2                   2             7         4
1862          3   30       1                   2             5         3
1863          3   42       2                   1             7         1
1875          3   18       1                   2             2         3
1876          3   18       1                   2             8         3
1883          3   66       2                   1             1         6
1885          3   28       2                   2             4         2
1889          3   26       2                   1             8         1
1894          3   35       2                   1             4         5
1897          3   43       1                   1             1         2
1917          3   22       2                   1             7         1
1920          3   19       2                   2             4         5
1925          3   30       2                   1             4         2
1927          3   29       1                   1             4         1
1929          3   21       2                   2             2         1
1930          3   18       2                   2             8         2
1943          3   54       2                   1             5         1
1948          3   32       2                   2             6
1951          3   40       2                   1             3         1
1952          3   33       2                   1             2         1
1953          3   33       1                   2             8         3
1966          3   23       1                   2             9         5
1969          3   58       1                   1             1         1
1972          3   23       1                   2             7         2

[320 rows x 6 columns]

In [124]:
# summary of voting intentions
poll.EUREF_Int.value_counts()

2    786
1    773
3    320
4     94
Name: EUREF_Int, dtype: int64

In [125]:
# summary of gender breakdown
poll.gender.value_counts()

2    1023
1     950
Name: gender, dtype: int64

In [126]:
poll.groupby(['EUREF_Int']).groups.keys()

dict_keys([1, 2, 3, 4])

In [127]:
poll.groupby('gender')['EUREF_Int'].count()

gender
1     950
2    1023
Name: EUREF_Int, dtype: int64

In [128]:
# this gives voting intention by gender
poll.groupby(['EUREF_Int','gender'])['Age'].count()

EUREF_Int  gender
1          1         380
           2         393
2          1         416
           2         370
3          1         111
           2         209
4          1          43
           2          51
Name: Age, dtype: int64

In [129]:
#print(poll_survey)

In [130]:
bins=[18,40,65,85,100]

In [131]:
groups=poll_survey.groupby((pd.cut(poll.Age,bins),'EUREF_Int'))

In [132]:
output=groups.size()

In [133]:
print(output)

Age       EUREF_Int
(18, 40]  1            381
          2            166
          3            120
          4             53
(40, 65]  1            267
          2            377
          3            127
          4             29
(65, 85]  1            107
          2            234
          3             70
          4              9
dtype: int64

In [174]:
poll_survey.groupby(['Age', 'EUREF_Int'])['gender'].size()

Age  EUREF_Int
18   1            17
     2             8
     3             3
     4             3
19   1            24
     2             8
     3             3
     4             1
20   1            21
     2             3
     4             2
21   1            25
     2             8
     3             2
     4             1
22   1            17
     2             6
     3             5
     4             4
23   1            18
     2             4
     3             4
24   1            15
     2             4
     3             3
25   1            19
     2             3
     3             8
     4             3
26   1             9
                  ..
73   2            15
     3             8
74   1             7
     2             7
     3             1
75   1             5
     2            10
     3             3
76   1             7
     2             1
     3             1
77   2             5
     3             2
78   1             1
     2             6
79   1             1
     2             2
     3             1
80   1             2
     2             4
     3             2
81   2             3
82   1             1
     2             1
83   2             2
     3             1
84   2             2
85   3             1
114  1             1
115  2             1
dtype: int64

In [136]:
poll_survey.groupby(['EUREF_Int', 'Age']).agg({'gender': "count"})

In [137]:
grouped=poll_survey.groupby(['Age','gender','EUREF_Int'])

In [138]:
print(grouped)

<pandas.core.groupby.DataFrameGroupBy object at 0x113eb7208>

In [176]:
#grouped=poll_survey.groupby('EUREF_Int')
#for name,group in poll_survey.groupby(['Age','gender']):
    #print(name)
    #print(group)

In [140]:
grouped=poll_survey.groupby(['EUREF_Int','Age','gender'])

In [177]:
grouped.aggregate(np.size)

                      socialgrade_single  house_tenure  work_stat
EUREF_Int Age gender
1         18  1                        5             5          5
              2                       12            12         12
          19  1                       13            13         13
              2                       11            11         11
          20  1                        8             8          8
              2                       13            13         13
          21  1                       15            15         15
              2                       10            10         10
          22  1                       10            10         10
              2                        7             7          7
          23  1                        7             7          7
              2                       11            11         11
          24  1                        5             5          5
              2                       10            10         10
          25  1                        5             5          5
              2                       14            14         14
          26  1                        4             4          4
              2                        5             5          5
          27  1                        5             5          5
              2                        6             6          6
          28  1                        9             9          9
              2                        6             6          6
          29  1                       10            10         10
              2                       14            14         14
          30  1                        6             6          6
              2                       10            10         10
          31  1                        7             7          7
              2                       10            10         10
          32  1                       14            14         14
              2                        9             9          9
...                                  ...           ...        ...
4         39  2                        2             2          2
          40  1                        2             2          2
              2                        4             4          4
          41  1                        1             1          1
          42  1                        2             2          2
          43  2                        1             1          1
          44  1                        4             4          4
              2                        1             1          1
          45  1                        2             2          2
              2                        1             1          1
          46  1                        1             1          1
              2                        1             1          1
          47  2                        1             1          1
          49  2                        1             1          1
          50  1                        2             2          2
          52  2                        2             2          2
          53  2                        1             1          1
          55  1                        1             1          1
          56  2                        1             1          1
          58  2                        2             2          2
          59  1                        1             1          1
              2                        1             1          1
          63  2                        1             1          1
          65  2                        1             1          1
          66  2                        2             2          2
          67  1                        2             2          2
          68  2                        1             1          1
          69  1                        2             2          2
              2                        1             1          1
          70  2                        1             1          1

[418 rows x 3 columns]

In [178]:
grouped.size()

EUREF_Int  Age  gender
1          18   1          5
                2         12
           19   1         13
                2         11
           20   1          8
                2         13
           21   1         15
                2         10
           22   1         10
                2          7
           23   1          7
                2         11
           24   1          5
                2         10
           25   1          5
                2         14
           26   1          4
                2          5
           27   1          5
                2          6
           28   1          9
                2          6
           29   1         10
                2         14
           30   1          6
                2         10
           31   1          7
                2         10
           32   1         14
                2          9
                          ..
4          39   2          2
           40   1          2
                2          4
           41   1          1
           42   1          2
           43   2          1
           44   1          4
                2          1
           45   1          2
                2          1
           46   1          1
                2          1
           47   2          1
           49   2          1
           50   1          2
           52   2          2
           53   2          1
           55   1          1
           56   2          1
           58   2          2
           59   1          1
                2          1
           63   2          1
           65   2          1
           66   2          2
           67   1          2
           68   2          1
           69   1          2
                2          1
           70   2          1
dtype: int64

In [179]:
grouped.describe()

                            house_tenure  socialgrade_single
EUREF_Int Age gender
1         18  1      count      5.000000            5.000000
                     mean       5.400000            2.000000
                     std        1.949359            0.000000
                     min        4.000000            2.000000
                     25%        4.000000            2.000000
                     50%        4.000000            2.000000
                     75%        7.000000            2.000000
                     max        8.000000            2.000000
              2      count     12.000000           12.000000
                     mean       6.083333            2.000000
                     std        2.503028            0.000000
                     min        1.000000            2.000000
                     25%        4.000000            2.000000
                     50%        8.000000            2.000000
                     75%        8.000000            2.000000
                     max        8.000000            2.000000
          19  1      count     13.000000           13.000000
                     mean       6.615385            1.923077
                     std        2.142369            0.277350
                     min        3.000000            1.000000
                     25%        4.000000            2.000000
                     50%        8.000000            2.000000
                     75%        8.000000            2.000000
                     max        9.000000            2.000000
              2      count     11.000000           11.000000
                     mean       6.909091            2.000000
                     std        2.071451            0.000000
                     min        4.000000            2.000000
                     25%        5.000000            2.000000
                     50%        8.000000            2.000000
...                                  ...                 ...
4         68  2      std             NaN                 NaN
                     min        1.000000            1.000000
                     25%        1.000000            1.000000
                     50%        1.000000            1.000000
                     75%        1.000000            1.000000
                     max        1.000000            1.000000
          69  1      count      2.000000            2.000000
                     mean       1.000000            1.500000
                     std        0.000000            0.707107
                     min        1.000000            1.000000
                     25%        1.000000            1.250000
                     50%        1.000000            1.500000
                     75%        1.000000            1.750000
                     max        1.000000            2.000000
              2      count      1.000000            1.000000
                     mean       6.000000            2.000000
                     std             NaN                 NaN
                     min        6.000000            2.000000
                     25%        6.000000            2.000000
                     50%        6.000000            2.000000
                     75%        6.000000            2.000000
                     max        6.000000            2.000000
          70  2      count      1.000000            1.000000
                     mean       1.000000            1.000000
                     std             NaN                 NaN
                     min        1.000000            1.000000
                     25%        1.000000            1.000000
                     50%        1.000000            1.000000
                     75%        1.000000            1.000000
                     max        1.000000            1.000000

[3344 rows x 2 columns]

In [144]:
poll.head()

,﻿ID,Voting_Intention,EUREF_Int,EUREF_SQUEEZE,EUREF_likely,Optimism,Immigration,political_attention,Newspaper_Often,Newspaper_Read,...,socialgrade_single,socialgrade_matrix,education_age,profile_education_level,pvbyregion_w8,bpcagegeneduc_w8,Socgrade_matrix_w8,threeway_attention_w8,respdate,W8
0,1,1,1,9,11,3,3,8,2,99,...,1,4,5,16,21,5,3,2,5/7/2016,1.073793
1,2,9,2,9,11,3,3,8,2,99,...,1,2,4,15,20,12,1,2,4/30/2016,0.950170
2,3,4,2,9,11,1,2,9,1,7,...,2,3,3,9,1,10,2,3,4/29/2016,0.835697
3,4,1,1,9,11,3,2,1,2,99,...,2,6,2,1,1,1,4,1,5/9/2016,1.235505
4,5,2,1,9,11,4,3,6,1,4,...,1,3,3,11,8,15,2,2,5/11/2016,0.895797

In [145]:
poll.index

RangeIndex(start=0, stop=1973, step=1)

In [180]:
poll[poll.Age<21]

,﻿ID,Voting_Intention,EUREF_Int,EUREF_SQUEEZE,EUREF_likely,Optimism,Immigration,political_attention,Newspaper_Often,Newspaper_Read,...,socialgrade_matrix,education_age,profile_education_level,pvbyregion_w8,bpcagegeneduc_w8,Socgrade_matrix_w8,threeway_attention_w8,respdate,W8,Vote
794,802,7,1,9,8,3,1,8,1,4,...,3,6,11,8,9,2,2,5/4/2016,1.146782,Leave
919,928,8,4,9,1,2,3,7,1,18,...,5,3,11,6,9,4,2,4/30/2016,1.159438,Not Voting
921,930,1,3,3,11,1,2,11,1,13,...,2,6,11,30,9,1,3,5/1/2016,0.999804,Undecided
984,993,2,1,9,11,3,3,8,1,18,...,5,6,11,2,18,4,2,5/6/2016,1.121092,Leave
998,1007,8,2,9,11,2,3,9,1,4,...,1,6,20,23,9,1,3,5/1/2016,0.686737,Remain
1000,1009,2,1,9,9,4,4,5,2,99,...,3,6,11,2,18,2,2,5/9/2016,1.006564,Leave
1076,1087,1,2,9,11,1,2,7,1,18,...,1,3,11,6,9,1,2,5/2/2016,1.076403,Remain
1086,1097,8,1,9,11,3,1,5,2,99,...,2,6,9,6,9,1,2,5/4/2016,1.076403,Leave
1088,1100,8,1,9,1,2,1,1,2,99,...,4,6,11,35,18,3,1,5/10/2016,1.280112,Leave
1106,1118,2,1,9,11,3,3,10,1,4,...,3,3,11,6,18,2,3,5/6/2016,0.971695,Leave
1157,1171,1,2,9,11,1,2,11,1,14,...,3,6,16,1,8,2,3,5/2/2016,0.987445,Remain
1175,1189,3,1,9,11,3,1,9,1,5,...,5,6,11,35,9,4,3,5/6/2016,1.003705,Leave
1182,1196,7,1,9,11,2,1,4,2,99,...,3,6,11,1,18,2,2,4/29/2016,1.163982,Leave
1262,1276,7,2,9,8,1,2,2,2,99,...,5,6,11,8,18,4,1,5/1/2016,1.529532,Remain
1274,1288,2,1,9,11,1,3,9,2,99,...,3,6,11,18,18,2,3,4/29/2016,1.073332,Leave
1280,1294,2,1,9,9,3,1,8,1,4,...,3,6,11,20,9,2,2,5/2/2016,1.067642,Leave
1298,1313,9,1,9,5,1,4,1,2,99,...,3,6,11,24,18,2,1,5/10/2016,1.317618,Leave
1310,1325,1,2,9,11,1,2,11,1,7,...,5,3,11,16,9,4,3,5/7/2016,1.160269,Remain
1329,1344,9,1,9,11,1,1,6,1,16,...,2,6,11,19,18,1,2,5/1/2016,1.145682,Leave
1346,1362,1,1,9,6,1,3,7,2,99,...,1,3,12,29,18,1,2,4/30/2016,1.053210,Leave
1353,1370,4,1,9,8,1,3,5,2,99,...,4,6,11,19,18,3,2,5/8/2016,1.280450,Leave
1364,1381,8,2,9,10,3,3,7,1,12,...,5,6,11,19,9,4,2,5/3/2016,1.288000,Remain
1367,1384,2,1,9,3,2,3,2,2,99,...,2,3,11,20,18,1,1,5/4/2016,1.321998,Leave
1376,1393,8,4,9,1,1,4,1,2,99,...,3,6,11,8,9,2,1,5/4/2016,1.433302,Not Voting
1384,1402,7,1,9,9,3,3,8,1,5,...,2,6,19,5,9,1,2,5/10/2016,0.891790,Leave
1395,1413,2,1,9,11,2,3,6,2,99,...,3,6,11,6,9,2,2,5/4/2016,1.040993,Leave
1408,1426,2,1,9,9,1,1,8,2,99,...,3,6,11,21,18,2,2,5/9/2016,1.040545,Leave
1416,1434,4,2,9,9,2,3,7,2,99,...,1,6,11,6,9,1,2,5/3/2016,1.076403,Remain
1417,1435,2,1,9,11,4,1,8,1,4,...,2,6,9,6,9,1,2,4/30/2016,1.076403,Leave
1428,1446,2,1,9,11,3,1,8,1,5,...,3,6,16,35,17,2,2,5/8/2016,0.767418,Leave
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1837,1860,1,1,9,6,1,3,4,2,99,...,2,6,11,19,9,1,2,5/6/2016,1.195758,Leave
1854,1877,7,1,9,11,4,1,10,1,4,...,2,6,11,20,9,1,3,4/30/2016,1.075510,Leave
1865,1888,9,2,9,7,4,4,3,2,99,...,3,3,5,18,18,2,1,5/5/2016,1.376986,Remain
1869,1892,7,1,9,5,1,2,4,2,99,...,2,6,16,5,8,1,2,5/5/2016,0.744026,Leave
1872,1895,1,1,9,11,2,1,9,1,18,...,1,6,20,6,9,1,3,5/1/2016,1.048664,Leave
1874,1897,2,1,9,11,1,1,6,1,4,...,2,6,11,17,18,1,2,5/9/2016,0.712787,Leave
1875,1898,2,3,3,1,3,3,6,2,99,...,3,6,11,24,9,2,2,5/3/2016,1.100302,Undecided
1876,1899,9,3,3,5,3,3,5,2,99,...,6,6,11,12,9,4,2,5/11/2016,1.472319,Undecided
1899,1922,2,2,9,9,2,3,7,2,99,...,4,2,3,24,9,3,2,5/8/2016,1.271562,Remain
1900,1923,9,1,9,8,1,2,3,2,99,...,3,6,11,18,18,2,1,4/30/2016,1.376986,Leave
1903,1926,3,1,9,11,3,1,8,2,99,...,1,6,11,23,18,1,2,5/10/2016,0.675382,Leave
1912,1935,2,1,9,2,2,3,7,1,18,...,4,6,11,18,9,3,2,5/9/2016,1.328855,Leave
1915,1938,5,2,9,11,1,2,5,2,99,...,4,2,1,29,18,3,2,5/3/2016,1.177100,Remain
1918,1941,2,1,9,10,2,1,5,2,99,...,4,3,11,5,18,3,2,5/10/2016,0.954952,Leave
1919,1942,7,1,9,7,1,2,4,2,99,...,2,6,16,1,17,1,2,5/9/2016,1.042174,Leave
1920,1943,9,3,3,11,1,3,8,2,99,...,3,6,15,3,18,2,2,5/4/2016,1.002655,Undecided
1921,1944,2,1,9,10,1,1,8,1,5,...,3,3,11,6,18,2,2,5/5/2016,0.997398,Leave
1926,1949,2,1,9,10,1,1,8,1,4,...,3,6,15,6,18,2,2,5/2/2016,0.997398,Leave
1930,1953,1,3,2,11,1,2,8,1,13,...,1,6,11,6,18,1,2,5/8/2016,1.031326,Undecided
1933,1956,8,1,9,11,1,3,7,1,13,...,3,6,11,29,18,2,2,5/2/2016,1.018562,Leave
1937,1960,2,1,9,10,3,1,9,1,4,...,2,3,11,6,18,1,3,5/1/2016,1.004748,Leave
1941,1964,2,1,9,10,3,3,6,1,5,...,2,6,11,20,18,1,2,5/2/2016,1.057728,Leave
1946,1970,7,1,9,10,3,2,9,1,7,...,3,6,11,23,9,2,3,5/9/2016,0.664145,Leave
1954,1979,5,1,9,8,3,3,8,1,4,...,3,6,12,29,9,2,2,5/6/2016,1.063082,Leave
1957,1982,2,2,9,11,1,3,8,2,99,...,5,1,1,6,18,4,2,5/7/2016,1.110883,Remain
1961,1986,2,1,9,11,4,3,7,1,5,...,3,6,11,26,9,2,2,5/3/2016,1.013567,Leave
1963,1988,2,1,9,11,2,1,7,1,4,...,1,6,11,2,9,1,2,5/9/2016,1.086296,Leave
1965,1990,2,1,9,10,1,3,7,1,14,...,2,6,11,2,18,1,2,5/10/2016,1.040804,Leave
1967,1992,2,1,9,11,1,3,3,2,99,...,6,2,11,26,18,4,1,5/9/2016,1.351855,Leave
1968,1993,7,1,9,8,1,1,7,2,99,...,2,6,11,23,9,1,2,5/11/2016,0.704902,Leave

In [147]:
poll.groupby(['EUREF_Int','gender']).size()

EUREF_Int  gender
1          1         380
           2         393
2          1         416
           2         370
3          1         111
           2         209
4          1          43
           2          51
dtype: int64

In [183]:
# assigning labels to voting intentions
poll["Vote"].cat.categories=["Remain","Leave","Undecided","Not Voting"]

In [185]:
# labelled voting intentions
poll["Vote"]

0           Remain
1            Leave
2            Leave
3           Remain
4           Remain
5            Leave
6            Leave
7           Remain
8           Remain
9           Remain
10          Remain
11          Remain
12          Remain
13           Leave
14          Remain
15           Leave
16          Remain
17           Leave
18           Leave
19          Remain
20           Leave
21           Leave
22       Undecided
23       Undecided
24           Leave
25           Leave
26           Leave
27          Remain
28           Leave
29          Remain
           ...
1943     Undecided
1944        Remain
1945         Leave
1946        Remain
1947         Leave
1948     Undecided
1949        Remain
1950         Leave
1951     Undecided
1952     Undecided
1953     Undecided
1954        Remain
1955         Leave
1956         Leave
1957         Leave
1958        Remain
1959        Remain
1960        Remain
1961        Remain
1962    Not Voting
1963        Remain
1964         Leave
1965        Remain
1966     Undecided
1967        Remain
1968        Remain
1969     Undecided
1970         Leave
1971         Leave
1972     Undecided
Name: Vote, dtype: category
Categories (4, object): [Remain, Leave, Undecided, Not Voting]

In [152]:
poll.groupby(["EUREF_Int","gender"]).size()

EUREF_Int  gender
1          1         380
           2         393
2          1         416
           2         370
3          1         111
           2         209
4          1          43
           2          51
dtype: int64

In [153]:
poll.groupby("gender").size()

gender
1     950
2    1023
dtype: int64

In [154]:
poll_survey.groupby("gender").mean()

        EUREF_Int        Age  socialgrade_single  house_tenure
gender
1        1.807368  47.969474            1.440000      3.192632
2        1.919844  47.724340            1.385142      3.073314

In [155]:
#splitting dataframe into different voting intentions
leave=poll_survey[poll_survey.EUREF_Int==1]
remain=poll_survey[poll_survey.EUREF_Int==2]
undecide=poll_survey[poll_survey.EUREF_Int==3]
novote=poll_survey[poll_survey.EUREF_Int==4]
total_poll=poll_survey.count()

In [156]:
leave.head()

   EUREF_Int  Age  gender  socialgrade_single  house_tenure work_stat
0          1   44       1                   1             1         5
3          1   79       1                   2             1         6
4          1   46       2                   1             4         1
7          1   38       1                   1             2         1
8          1   58       2                   1             1         2

In [186]:
# summary of poll and voting intentions
total_leave=leave.count(0)
total_remain=remain.count(0)
total_undecide=undecide.count(0)
total_novote=novote.count(0)
total_poll=poll_survey.count(0)
print("Remain Total:",total_remain[0])
print("Leave Total:",total_leave[0])
print("Undecided Total:",total_undecide[0])
print("No Vote Total:",total_novote[0])
print('Poll Total:',total_poll[0])

Remain Total: 786
Leave Total: 773
Undecided Total: 320
No Vote Total: 94
Poll Total: 1973

In [187]:
# percentage breakdown of leave and remain votes
percent_leave=total_leave[0]/total_poll[0]
percent_remain=total_remain[0]/total_poll[0]
Leave_percent="Leave {:.1%}".format(percent_leave)
Remain_percent="Remain: {:.1%}".format(percent_remain)
print(Leave_percent)
print(Remain_percent)

Leave 39.2%
Remain: 39.8%

In [194]:
# summary of males in the poll
males=poll_survey[poll_survey.gender==1]
len(males)
males.head()

   EUREF_Int  Age  gender  socialgrade_single  house_tenure work_stat
0          1   44       1                   1             1         5
3          1   79       1                   2             1         6
6          2   47       1                   1             2         1
7          1   38       1                   1             2         1
9          1   51       1                   1             1         1

In [160]:
import numpy.random as npr
data_males = males.values.T[0]

In [191]:
#bootstrap of male voting intentions
boot_males=npr.choice(data_males,size=(10000,len(data_males)),replace=True)

In [193]:
# summary of male bootstrapped voting intentions
boot_males

array([[3, 1, 2, ..., 2, 1, 2],
       [2, 1, 2, ..., 2, 2, 2],
       [2, 2, 1, ..., 1, 2, 4],
       ...,
       [2, 2, 1, ..., 1, 1, 1],
       [3, 3, 2, ..., 1, 1, 3],
       [4, 3, 1, ..., 2, 3, 1]], dtype=object)

In [197]:
#confirming number of bootstrap samples
len(boot_males)

10000

In [199]:
#confirming number of males in original sample
len(males)

950

In [201]:
len(boot_males[1])

950

In [202]:
boot_males.T[0]

array([3, 2, 2, ..., 2, 3, 4], dtype=object)

In [205]:
# mean voting intention of the bootstrapped male sample
boot_males.mean()

1.8070917894736842

In [207]:
#mean voting intention of original sample
data_males.mean()

1.8073684210526315

In [208]:
boot_males.T[0:5]

array([[3, 2, 2, ..., 2, 3, 4],
       [1, 1, 2, ..., 2, 3, 3],
       [2, 2, 1, ..., 1, 2, 1],
       [1, 2, 4, ..., 4, 2, 2],
       [1, 1, 1, ..., 1, 2, 1]], dtype=object)

In [211]:
# breakdown of voting intentions for male bootstrapped sample
import collections

unique, counts = np.unique(boot_males, return_counts=True)
a=dict(zip(unique, counts))
print(a)
s = sum(a.values())
for k, v in a.items():
    pct = v * 100.0 / s
    print(k,pct)
print(s)

{1: 3802129, 2: 4158684, 3: 1108873, 4: 430314}
1 40.0224105263
2 43.7756210526
3 11.6723473684
4 4.52962105263
9500000

In [218]:
# breakdown of male voting intentions for original poll
unique, counts = np.unique(data_males, return_counts=True)
a=dict(zip(unique, counts))
print(a)
s = sum(a.values())
for k, v in a.items():
    pct = v * 100.0 / s
    print(k,pct)
print(s)

{1: 380, 2: 416, 3: 111, 4: 43}
1 40.0
2 43.7894736842
3 11.6842105263
4 4.52631578947
950

In [213]:
females=poll_survey[poll_survey.gender==2]
len(females)
females.head()

   EUREF_Int  Age  gender  socialgrade_single  house_tenure work_stat
1          2   60       2                   1             1         2
2          2   70       2                   2             1         6
4          1   46       2                   1             4         1
5          2   68       2                   1             1         6
8          1   58       2                   1             1         2

In [215]:
data_female = females.values.T[0]

In [216]:
boot_female=npr.choice(data_female,size=(10000,len(data_female)),replace=True)

In [219]:
# breakdown of female voting intentions for bootstrapped females
unique_females, female_counts = np.unique(boot_female,return_counts=True)
dict_females=dict(zip(unique_females, female_counts))
print(dict_females)
sum_females = sum(dict_females.values())
for k, v in dict_females.items():
    pct = v * 100.0 / sum_females
    print(k,pct)
print(sum_females)

{1: 3927474, 2: 3701701, 3: 2090354, 4: 510471}
1 38.3917302053
2 36.1847605083
3 20.4335679374
4 4.98994134897
10230000

In [220]:
# breakdown of female voting intentions for female original sample
unique_females1,female1_counts = np.unique(data_female, return_counts=True)
dict_females1=dict(zip(unique_females1,female1_counts))
print(dict_females1)
sum_females1 = sum(dict_females1.values())
for k, v in dict_females1.items():
    pct = v * 100.0 / sum_females1
    print(k,pct)
print(sum_females1)

{1: 393, 2: 370, 3: 209, 4: 51}
1 38.4164222874
2 36.1681329423
3 20.4301075269
4 4.9853372434
1023

In [222]:
Over_65=poll_survey[poll_survey.Age >65]
len(Over_65)
Over_65.head()

    EUREF_Int  Age  gender  socialgrade_single  house_tenure work_stat
2           2   70       2                   2             1         6
3           1   79       1                   2             1         6
5           2   68       2                   1             1         6
20          2   78       2                   2             4         6
21          2   77       2                   1             1         6

In [223]:
data_Over_65 = Over_65.values.T[0]

In [224]:
#bootstrap over 65s
boot_Over_65=npr.choice(data_Over_65,size=(10000,len(data_Over_65)),replace=True)

In [226]:
# breakdown of voting intentions for bootstrapped sample of over 65s
unique, counts = np.unique(boot_Over_65, return_counts=True)
a=dict(zip(unique, counts))
print(a)
s = sum(a.values())
for k, v in a.items():
    pct = v * 100.0 / s
    print(k,pct)
print(s)

{1: 1079069, 2: 2351839, 3: 699317, 4: 89775}
1 25.5703554502
2 55.7307819905
3 16.571492891
4 2.12736966825
4220000

In [228]:
# breakdown of voting intentions for original sample of over 65s
unique, counts = np.unique(data_Over_65, return_counts=True)
a=dict(zip(unique, counts))
print(a)
s = sum(a.values())
for k, v in a.items():
    pct = v * 100.0 / s
    print(k,pct)
print(s)

{1: 108, 2: 235, 3: 70, 4: 9}
1 25.5924170616
2 55.6872037915
3 16.5876777251
4 2.1327014218
422

In [229]:
# number of under 20s in the original sample
Under_20=poll_survey[poll_survey.Age <20]
len(Under_20)

67

In [231]:
data_Under_20 = Under_20.values.T[0]

In [232]:
# breakdown of voting intentions for bootstrapped sample of under 20s
boot_Under_20=npr.choice(data_Under_20,size=(10000,len(data_Under_20)),replace=True)
unique_Under_20, counts_Under_20 = np.unique(boot_Under_20, return_counts=True)
a=dict(zip(unique_Under_20, counts_Under_20))
print(a)
s = sum(a.values())
for k, v in a.items():
    pct = v * 100.0 / s
    print(k,pct)
print(s)

{1: 409773, 2: 160273, 3: 59908, 4: 40046}
1 61.1601492537
2 23.9213432836
3 8.94149253731
4 5.97701492537
670000

In [233]:
# breakdown of voting intentions for under 20s from original sample
unique_Under_20, counts_Under_20 = np.unique(data_Under_20, return_counts=True)
a=dict(zip(unique_Under_20, counts_Under_20))
print(a)
s = sum(a.values())
for k, v in a.items():
    pct = v * 100.0 / s
    print(k,pct)
print(s)

{1: 41, 2: 16, 3: 6, 4: 4}
1 61.1940298507
2 23.8805970149
3 8.9552238806
4 5.97014925373
67

In [235]:
#Knn to classify voting intentions based on original sample
from sklearn import neighbors
                 
 
#   Read from downloaded iris data file
df = poll_survey
 
# Separate four data attributes and class data (the 5th attribute)
#  Slice data-frame column wise. When slicing the data frame using iloc,
#    the start bound (0) is included, while the upper bound (4) is excluded.
X  =  df.iloc[:,1:5]    # X includes columns 1,2,3,4,5
y  =  df['EUREF_Int']   # Get last column
 
clf = neighbors.KNeighborsClassifier()
clf.fit(X, y)
Z = clf.predict(X)
accuracy=clf.score(X,y)
print ("Predicted model accuracy: "+ str(accuracy))
# Type of Z is numpy ndarray. Add, Z, to iris data frame as last column
df['Predicted']=Z

# Compare two classes: actual and predicted
df

Predicted model accuracy: 0.598580841358

/Users/paulharforth/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,EUREF_Int,Age,gender,socialgrade_single,house_tenure,work_stat,Predicted
0,1,44,1,1,1,5,1
1,2,60,2,1,1,2,1
2,2,70,2,2,1,6,2
3,1,79,1,2,1,6,2
4,1,46,2,1,4,1,1
5,2,68,2,1,1,6,2
6,2,47,1,1,2,1,2
7,1,38,1,1,2,1,2
8,1,58,2,1,1,2,1
9,1,51,1,1,1,1,1
10,1,31,1,1,2,1,1
11,1,48,2,1,1,1,2
12,1,58,2,1,1,4,1
13,2,62,1,1,2,6,1
14,1,57,1,1,1,6,1
15,2,39,1,1,2,1,2
16,1,52,1,1,1,1,1
17,2,40,1,2,1,1,2
18,2,60,1,1,1,1,2
19,1,52,2,1,1,1,1
20,2,78,2,2,4,6,2
21,2,77,2,1,1,6,2
22,3,37,2,1,2,1,1
23,3,36,2,1,5,1,3
24,2,65,2,2,1,6,2
25,2,44,2,2,4,,2
26,2,38,1,1,2,1,2
27,1,33,2,1,4,2,1
28,2,58,2,1,1,2,1
29,1,35,1,1,4,1,1
...,...,...,...,...,...,...,...
1943,3,54,2,1,5,1,2
1944,1,37,1,1,2,1,1
1945,2,55,1,1,1,6,2
1946,1,19,1,2,8,5,1
1947,2,23,1,2,7,1,1
1948,3,32,2,2,6,,3
1949,1,29,2,2,9,2,1
1950,2,67,2,1,1,2,1
1951,3,40,2,1,3,1,2
1952,3,33,2,1,2,1,1
1953,3,33,1,2,8,3,3
1954,1,18,1,2,4,5,1
1955,2,30,2,2,2,2,2
1956,2,55,1,1,1,6,2
1957,2,19,2,2,7,2,1
1958,1,39,2,2,2,2,1
1959,1,22,1,1,8,3,1
1960,1,36,1,1,2,1,1
1961,1,18,1,2,7,5,2
1962,4,22,2,2,4,5,4
1963,1,19,1,2,8,5,1
1964,2,35,1,2,2,1,1
1965,1,19,2,2,8,5,1
1966,3,23,1,2,9,5,1
1967,1,20,2,2,7,2,1
1968,1,19,1,2,6,5,1
1969,3,58,1,1,1,1,1
1970,2,22,1,2,6,1,2
1971,2,76,2,2,1,6,1
1972,3,23,1,2,7,2,1

In [236]:
#reading in census data
# Census data 18-80year olds by gender
Census_age_gender= pd.read_csv("Census_Age_gender.csv")

In [237]:
Census_age_gender

    Age   Males  Females
0    18  411588   397498
1    19  424505   419028
2    20  447432   425888
3    21  433609   418121
4    22  430334   425445
5    23  433746   434588
6    24  419020   429015
7    25  435241   430138
8    26  430806   432373
9    27  425391   429113
10   28  425128   432582
11   29  428488   437080
12   30  437595   442199
13   31  432334   435401
14   32  411747   411141
15   33  387624   388723
16   34  390012   388673
17   35  391313   396842
18   36  401624   406654
19   37  410101   415814
20   38  429969   435967
21   39  449303   456890
22   40  453430   466723
23   41  447356   458286
24   42  458079   471542
25   43  458591   469702
26   44  466446   475480
27   45  464741   477982
28   46  469717   482278
29   47  461419   473835
..  ...     ...      ...
33   51  411549   418991
34   52  405871   413744
35   53  398161   404623
36   54  381852   389636
37   55  367483   374194
38   56  358924   367662
39   57  360725   368877
40   58  351768   361491
41   59  346698   356256
42   60  347932   359598
43   61  357350   371268
44   62  366898   379526
45   63  397077   412526
46   64  399655   416144
47   65  306635   321433
48   66  322473   339297
49   67  302191   319562
50   68  284518   305057
51   69  247538   268776
52   70  235965   259537
53   71  243910   269681
54   72  237242   265331
55   73  228578   256833
56   74  216926   248742
57   75  203623   238578
58   76  192863   228831
59   77  177200   215746
60   78  169341   212297
61   79  160406   207134
62   80  151307   203348

[63 rows x 3 columns]

In [238]:
#Gender breakdown of census data
Male_total=Census_age_gender.Males.sum(axis=0)
Female_total=Census_age_gender.Females.sum(axis=0)
Grand_total=Male_total+Female_total
Male_percent=Male_total/Grand_total
Female_percent=Female_total/Grand_total
print("Males:",Male_total,"Males(%)",Male_percent,"Females",Female_total,"Females(%)",Female_percent,"Total Adults:",Grand_total)

Males: 23228358 Males(%) 0.4921030520109191 Females 23973865 Females(%) 0.5078969479890809 Total Adults: 47202223

In [239]:
#Gender breakdown of poll data
poll_males=poll_survey.gender==1
poll_females=poll_survey.gender==2
poll_males_total=poll_males.sum(axis=0)
poll_females_total=poll_females.sum(axis=0)
Poll_total=poll_males_total+poll_females_total
Poll_male_percent=poll_males_total/Poll_total
Poll_females_percent=poll_females_total/Poll_total
print("Males(poll) :",poll_males_total ,"Males(%poll):",Poll_male_percent ,"Females(poll):", poll_females_total,"Female(%poll):",Poll_females_percent)

Males(poll) : 950 Males(%poll): 0.481500253421 Females(poll): 1023 Female(%poll): 0.518499746579

In [242]:
poll_males_over65=pd.DataFrame(poll_survey[(poll_survey.Age>65)&(poll_survey.gender==1)])
poll_males_over65_total=len(poll_males_over65)
poll_females_over65=pd.DataFrame(poll_survey[(poll_survey.Age>65)&(poll_survey.gender==2)])
poll_females_over65_total=len(poll_females_over65)

In [243]:
print("Poll Males >65",poll_males_over65_total, "Poll Females>65",poll_females_over65_total)

Poll Males >65 191 Poll Females>65 231

In [244]:

poll_males_over65percent=poll_males_over65_total/Poll_total
poll_females_over65percent=poll_females_over65_total/Poll_total

In [245]:
#comparing over 65s proportions census to poll
census_males_over65=(Census_age_gender.Males[(Census_age_gender.Age>65)]).sum(axis=0)
census_males_over65percent=census_males_over65/Grand_total
census_females_over65=(Census_age_gender.Females[(Census_age_gender.Age>65)]).sum(axis=0)
census_females_over65percent=census_females_over65/Grand_total
print("Census over 65 men%:",census_males_over65percent, " Poll over 65 men%:",poll_males_over65percent)
print("Census over 65 females%:",census_females_over65percent, " Poll over 65 females%:",poll_females_over65percent)

Census over 65 men%: 0.0714814003569281  Poll over 65 men%: 0.0968068930563
Census over 65 females%: 0.08132561892265117  Poll over 65 females%: 0.117080587937

In [246]:
#Voting intention for over 65 males
vote_int_males65=poll_males_over65.EUREF_Int

In [247]:
#Vote split for over 65 males
Vote_intsplit_over65M=Counter(poll_males_over65['EUREF_Int'])
print("Male over 65 votes splt:",Vote_intsplit_over65M)

Male over 65 votes splt: Counter({2: 106, 1: 60, 3: 21, 4: 4})

In [248]:
#Vote split for over 65 females
Vote_intsplit_over65F=Counter(poll_females_over65['EUREF_Int'])
print("Females over 65 votes splt:",Vote_intsplit_over65F)

Females over 65 votes splt: Counter({2: 129, 3: 49, 1: 48, 4: 5})

In [165]:
#Need to use bootstrap samples in same proportion as census to give new poll predictions